In [1]:
import numpy as np
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append("../..")
from utils import *
import warnings
warnings.filterwarnings("ignore")
import os
import psutil

pd.options.display.max_columns=1000
pd.options.display.max_rows=1000

import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score 
from catboost import CatBoostClassifier, Pool

In [2]:
''' Data Load '''
train = pd.read_csv("/home/workspace/DACON/Click_predict/data/train3.csv")
test = pd.read_csv("/home/workspace/DACON/Click_predict/data/test3.csv")

In [4]:
feature_summary(train)

---------------------------- Dataframe Size ----------------------------
num: 28605391
----------------------------   Dtype Size   ----------------------------
Type float64 : 20
Type object : 18
Type int64 : 3

,Feature Name,Data Type,Nunique,NullValue,NullValue Ratio,value_1,value_2,value_3
0,ID,object,28605391,0,0.000000,TRAIN_00000000,TRAIN_00000001,TRAIN_00000002
1,Click,int64,2,0,0.000000,1,0,0
2,F01,object,4760930,1234711,4.316358,NSLHFNS,VGIVWZQ,JCDXFYU
3,F02,object,304404,1234711,4.316358,AVKQTCL,LSUSMVO,PILDDJU
4,F04,float64,9978,5742331,20.074296,114.0,26.0,119.0
5,F05,object,5343556,1234711,4.316358,ISVXFVA,NFRVLWS,LFPUEOV
6,F06,int64,8562,0,0.000000,1,43,0
7,F07,object,151200,0,0.000000,PQZBVMG,IMPIGJT,FFUTIRZ
8,F09,object,27551,0,0.000000,IZYJZDA,NGODWIN,BEZTQIO
9,F10,object,1404254,1234711,4.316358,RANQNXO,GBQMJYF,YLKUVQA
10,F11,float64,4048,2955564,10.332192,66.0,137.0,NaN
11,F12,object,4174063,1234711,4.316358,EGWPZEB,OUPRLWN,MGRUYII
12,F13,object,1307,0,0.000000,SMRBWMU,QVLCQTS,KGJACUM
13,F14,int64,526,0,0.000000,4,22,0
14,F16,object,15467,0,0.000000,NLHSWSR,DGLEHCI,PBCDAMR
15,F18,float64,564,7324999,25.607058,NaN,19.0,2.0
16,F19,float64,14,2588853,9.050228,1.0,1.0,0.0
17,F20,object,178602,10543986,36.860136,LTCDFSX,QAOROGG,TGVLSYT
18,F22,object,7187,0,0.000000,SNDDHSM,SNDDHSM,SNDDHSM
19,F24,float64,15229,8994270,31.442570,5.0,21.0,NaN
20,F25,object,10700,0,0.000000,HLADEES,TPNEYOY,YMGUAHK
21,F26,object,2204,10543986,36.860136,XAUNDQW,BUWDIBR,WVRHGBC
22,F27,float64,3171,11063877,38.677594,3.0,32.0,NaN
23,F29,float64,196,11063877,38.677594,1.0,2.0,NaN
24,F30,object,19444,0,0.000000,NZGEZLW,NZGEZLW,VHXETCF
25,F32,float64,424278,251142,0.877953,380.0,466.0,197.0
26,F33,float64,600,2588853,9.050228,2.0,1.0,0.0
27,F34,object,3165580,1234711,4.316358,AXQFZWC,DRVVDHZ,QMOULXS
28,F36,float64,1146,7324999,25.607058,NaN,19.0,8.0
29,F37,object,9423,0,0.000000,TFJMLCZ,AUGTURV,ZVSTLNM
30,F38,float64,342,800058,2.796878,0.0,0.0,0.0
31,F39,object,6800,0,0.000000,AURZYDY,LUZRMLU,MHBRSQK
32,F03,float64,62,0,0.000000,0.187347,0.187075,0.169448
33,F08,float64,66,0,0.000000,0.215969,0.234439,0.141576
34,F15,float64,4,0,0.000000,0.223602,0.180882,0.167974
35,F17,float64,10,0,0.000000,0.17269,0.249527,0.147666
36,F21,float64,33,0,0.000000,0.258027,0.216504,0.133926
37,F23,float64,799,0,0.000000,0.19472,0.19472,0.194653
38,F28,float64,47,0,0.000000,0.183423,0.234148,0.139434
39,F31,float64,14,0,0.000000,0.203653,0.203653,0.15177
40,F35,float64,3,0,0.000000,0.2048,0.2048,0.2048

In [6]:
categorical_cols = train.select_dtypes(include = "object").columns

# 각 범주형 변수의 빈도수 계산 및 인코딩
for col in tqdm(categorical_cols):
    freq_encoding = train[col].value_counts(normalize=True)
    train[col] = train[col].map(freq_encoding)
    test[col] = test[col].map(freq_encoding)

# 결과 확인
print(train.head())

100%|██████████| 18/18 [01:48<00:00,  6.02s/it]

             ID  Click           F01       F02    F04           F05  F06  \
0  3.495845e-08      1  3.653545e-08  0.000002  114.0  3.653545e-08    1
1  3.495845e-08      0  4.128505e-05  0.000215   26.0  4.128505e-05   43
2  3.495845e-08      0  2.147638e-01  0.215404  119.0  2.147638e-01    0
3  3.495845e-08      1  5.407246e-04  0.005296   15.0  5.407246e-04   26
4  3.495845e-08      0  3.288190e-07  0.001369   13.0  3.288190e-07   20

        F07       F09           F10    F11           F12       F13  F14  \
0  0.188244  0.003238  2.557481e-07   66.0  3.653545e-08  0.035374    4
1  0.000290  0.007269  4.267340e-05  137.0  4.128505e-05  0.019912   22
2  0.000240  0.038967  2.147638e-01    NaN  2.147638e-01  0.042380    0
3  0.000007  0.000116  2.457630e-03   50.0  5.407246e-04  0.002023   20
4  0.188244  0.000209  6.970963e-05  789.0  2.531906e-05  0.001245   42

        F16   F18  F19       F20       F22   F24       F25       F26   F27  \
0  0.000083   NaN  1.0  0.000003  0.294317   5.0  0.000053  0.000055   3.0
1  0.000155  19.0  1.0  0.000211  0.294317  21.0  0.001174  0.000521  32.0
2  0.001836   2.0  0.0  0.325453  0.294317   NaN  0.001836  0.619053   NaN
3  0.000087  14.0  0.0       NaN  0.294317  87.0  0.000152       NaN   2.0
4  0.000158  13.0  0.0       NaN  0.009188   NaN  0.000284       NaN   NaN

   F29       F30      F32  F33           F34   F36       F37  F38       F39  \
0  1.0  0.206440    380.0  2.0  3.653545e-08   NaN  0.030582  0.0  0.000084
1  2.0  0.206440    466.0  1.0  4.128505e-05  19.0  0.017868  0.0  0.001174
2  NaN  0.005731    197.0  0.0  2.147638e-01   8.0  0.038967  0.0  0.001836
3  1.0  0.005057   8640.0  0.0  8.936570e-04  14.0  0.002023  0.0  0.000152
4  NaN  0.206440  41774.0  0.0  6.707908e-05  13.0  0.001123  0.0  0.000284

        F03       F08       F15       F17       F21       F23       F28  \
0  0.187347  0.215969  0.223602  0.172690  0.258027  0.194720  0.183423
1  0.187075  0.234439  0.180882  0.249527  0.216504  0.194720  0.234148
2  0.169448  0.141576  0.167974  0.147666  0.133926  0.194653  0.139434
3  0.218804  0.206054  0.218804  0.172690  0.172939  0.194753  0.206054
4  0.218804  0.234439  0.218804  0.147666  0.162883  0.195566  0.234148

        F31     F35
0  0.203653  0.2048
1  0.203653  0.2048
2  0.151770  0.2048
3  0.203653  0.2048
4  0.079718  0.2048

In [7]:
feature_summary(train)

---------------------------- Dataframe Size ----------------------------
num: 28605391
----------------------------   Dtype Size   ----------------------------
Type float64 : 38
Type int64 : 3

,Feature Name,Data Type,Nunique,NullValue,NullValue Ratio,value_1,value_2,value_3
0,ID,float64,1,0,0.000000,3.495845e-08,3.495845e-08,3.495845e-08
1,Click,int64,2,0,0.000000,1.000000e+00,0.000000e+00,0.000000e+00
2,F01,float64,2002,1234711,4.316358,3.653545e-08,4.128505e-05,2.147638e-01
3,F02,float64,2367,1234711,4.316358,1.863308e-06,2.153399e-04,2.154039e-01
4,F04,float64,9978,5742331,20.074296,1.140000e+02,2.600000e+01,1.190000e+02
5,F05,float64,1952,1234711,4.316358,3.653545e-08,4.128505e-05,2.147638e-01
6,F06,int64,8562,0,0.000000,1.000000e+00,4.300000e+01,0.000000e+00
7,F07,float64,3445,0,0.000000,1.882442e-01,2.897706e-04,2.400596e-04
8,F09,float64,3186,0,0.000000,3.238480e-03,7.269364e-03,3.896689e-02
9,F10,float64,2418,1234711,4.316358,2.557481e-07,4.267340e-05,2.147638e-01
10,F11,float64,4048,2955564,10.332192,6.600000e+01,1.370000e+02,NaN
11,F12,float64,2077,1234711,4.316358,3.653545e-08,4.128505e-05,2.147638e-01
12,F13,float64,1112,0,0.000000,3.537372e-02,1.991233e-02,4.237956e-02
13,F14,int64,526,0,0.000000,4.000000e+00,2.200000e+01,0.000000e+00
14,F16,float64,4057,0,0.000000,8.341085e-05,1.548310e-04,1.835843e-03
15,F18,float64,564,7324999,25.607058,NaN,1.900000e+01,2.000000e+00
16,F19,float64,14,2588853,9.050228,1.000000e+00,1.000000e+00,0.000000e+00
17,F20,float64,2092,10543986,36.860136,2.823701e-06,2.105041e-04,3.254533e-01
18,F22,float64,1273,0,0.000000,2.943167e-01,2.943167e-01,2.943167e-01
19,F24,float64,15229,8994270,31.442570,5.000000e+00,2.100000e+01,NaN
20,F25,float64,3688,0,0.000000,5.306692e-05,1.173730e-03,1.835843e-03
21,F26,float64,1166,10543986,36.860136,5.497911e-05,5.211665e-04,6.190526e-01
22,F27,float64,3171,11063877,38.677594,3.000000e+00,3.200000e+01,NaN
23,F29,float64,196,11063877,38.677594,1.000000e+00,2.000000e+00,NaN
24,F30,float64,1744,0,0.000000,2.064397e-01,2.064397e-01,5.730808e-03
25,F32,float64,424278,251142,0.877953,3.800000e+02,4.660000e+02,1.970000e+02
26,F33,float64,600,2588853,9.050228,2.000000e+00,1.000000e+00,0.000000e+00
27,F34,float64,2213,1234711,4.316358,3.653545e-08,4.128505e-05,2.147638e-01
28,F36,float64,1146,7324999,25.607058,NaN,1.900000e+01,8.000000e+00
29,F37,float64,2485,0,0.000000,3.058200e-02,1.786835e-02,3.896689e-02
30,F38,float64,342,800058,2.796878,0.000000e+00,0.000000e+00,0.000000e+00
31,F39,float64,3602,0,0.000000,8.397019e-05,1.173730e-03,1.835843e-03
32,F03,float64,62,0,0.000000,1.873470e-01,1.870754e-01,1.694481e-01
33,F08,float64,66,0,0.000000,2.159694e-01,2.344392e-01,1.415763e-01
34,F15,float64,4,0,0.000000,2.236016e-01,1.808822e-01,1.679743e-01
35,F17,float64,10,0,0.000000,1.726901e-01,2.495272e-01,1.476656e-01
36,F21,float64,33,0,0.000000,2.580273e-01,2.165037e-01,1.339258e-01
37,F23,float64,799,0,0.000000,1.947201e-01,1.947201e-01,1.946534e-01
38,F28,float64,47,0,0.000000,1.834225e-01,2.341479e-01,1.394342e-01
39,F31,float64,14,0,0.000000,2.036525e-01,2.036525e-01,1.517695e-01
40,F35,float64,3,0,0.000000,2.047997e-01,2.047997e-01,2.047997e-01

## Label Encoding

In [8]:
''' Seed '''
seed_everything(42)

''' Train / Vaild Split'''
X_train = train.drop(columns = ["Click"]) 
y_train = train["Click"]
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train, random_state=42)

param = {'max_depth': 30,
 'num_leaves': 306,
 'subsample': 0.9757365622458185,
 'subsample_freq': 8,
 "n_estimators" : 1000,
 'min_child_samples': 136}

model = lgb.LGBMClassifier(random_state=42, **param)
model.fit(X_train, y_train, eval_metric='AUC')
pred = model.predict_proba(X_valid)
score = roc_auc_score(y_valid, pred[:, 1])
print(score)

0.7801199049542845

## Baseline

In [2]:
''' Data Load '''
train = pd.read_csv("/home/workspace/DACON/Click_predict/data/train3.csv")
test = pd.read_csv("/home/workspace/DACON/Click_predict/data/test3.csv")

categorical = train.select_dtypes(include='object').columns 
train[categorical] = train[categorical].astype("category")
test[categorical] = test[categorical].astype("category")

''' Seed '''
seed_everything(42)

''' Train / Vaild Split'''
X_train = train.drop(columns = ["Click"]) 
y_train = train["Click"]
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train, random_state=42)

param = {'max_depth': 30,
 'num_leaves': 306,
 'subsample': 0.9757365622458185,
 'subsample_freq': 8,
 "n_estimators" : 1000,
 'min_child_samples': 136}

model = lgb.LGBMClassifier(random_state=42, **param)
model.fit(X_train, y_train, eval_metric='AUC')
pred = model.predict_proba(X_valid)
score = roc_auc_score(y_valid, pred[:, 1])
print(score)

0.7801998657255164

## skfold

In [5]:
''' Seed '''
seed_everything(42)

''' Cat '''
categorical = train.select_dtypes(include='object').columns 
train[categorical] = train[categorical].astype("category")
test[categorical] = test[categorical].astype("category")

''' Train / Vaild Split'''
param = {'max_depth': 30,
 'num_leaves': 306,
 'subsample': 0.9757365622458185,
 'subsample_freq': 8,
 "n_estimators" : 1000,
 'min_child_samples': 136}

X_train = train.drop(columns = ["Click"]) 
y_train = train["Click"]

''' Model '''
model = lgb.LGBMClassifier(random_state=42, **param)

''' K-Fold '''
valid_array, test_array, voting = Kfold(model, 5, X_train, y_train, test, True)

:

In [4]:
X_train.head()

,ID,F01,F02,F04,F05,F06,F07,F09,F10,F11,F12,F13,F14,F16,F18,F19,F20,F22,F24,F25,F26,F27,F29,F30,F32,F33,F34,F36,F37,F38,F39,F03,F08,F15,F17,F21,F23,F28,F31,F35
0,TRAIN_00000000,NSLHFNS,AVKQTCL,114.0,ISVXFVA,1,PQZBVMG,IZYJZDA,RANQNXO,66.0,EGWPZEB,SMRBWMU,4,NLHSWSR,NaN,1.0,LTCDFSX,SNDDHSM,5.0,HLADEES,XAUNDQW,3.0,1.0,NZGEZLW,380.0,2.0,AXQFZWC,NaN,TFJMLCZ,0.0,AURZYDY,0.187347,0.215969,0.223602,0.172690,0.258027,0.194720,0.183423,0.203653,0.2048
1,TRAIN_00000001,VGIVWZQ,LSUSMVO,26.0,NFRVLWS,43,IMPIGJT,NGODWIN,GBQMJYF,137.0,OUPRLWN,QVLCQTS,22,DGLEHCI,19.0,1.0,QAOROGG,SNDDHSM,21.0,TPNEYOY,BUWDIBR,32.0,2.0,NZGEZLW,466.0,1.0,DRVVDHZ,19.0,AUGTURV,0.0,LUZRMLU,0.187075,0.234439,0.180882,0.249527,0.216504,0.194720,0.234148,0.203653,0.2048
2,TRAIN_00000002,JCDXFYU,PILDDJU,119.0,LFPUEOV,0,FFUTIRZ,BEZTQIO,YLKUVQA,NaN,MGRUYII,KGJACUM,0,PBCDAMR,2.0,0.0,TGVLSYT,SNDDHSM,NaN,YMGUAHK,WVRHGBC,NaN,NaN,VHXETCF,197.0,0.0,QMOULXS,8.0,ZVSTLNM,0.0,MHBRSQK,0.169448,0.141576,0.167974,0.147666,0.133926,0.194653,0.139434,0.151770,0.2048
3,TRAIN_00000003,PSMFWTP,ZYAVJHP,15.0,ATQPZSJ,26,ZDTZNSB,LTETYBG,GEKHGQZ,50.0,OPGPVBH,UMIEGWH,20,WDTKLCQ,14.0,0.0,NaN,SNDDHSM,87.0,IROGIOW,NaN,2.0,1.0,IVIRTPR,8640.0,0.0,IZLJUJS,14.0,ZBSRLCQ,0.0,GAZBSSZ,0.218804,0.206054,0.218804,0.172690,0.172939,0.194753,0.206054,0.203653,0.2048
4,TRAIN_00000004,SLCRICD,QPQWGXA,13.0,CHZGJZR,20,PQZBVMG,LJBQPJW,SOKLCDW,789.0,LHVQODU,YJFFIGH,42,NRRIGTN,13.0,0.0,NaN,NXBZHKD,NaN,PWGXQTB,NaN,NaN,NaN,NZGEZLW,41774.0,0.0,BHBIZCL,13.0,QHYLSBX,0.0,QTATWAY,0.218804,0.234439,0.218804,0.147666,0.162883,0.195566,0.234148,0.079718,0.2048