In [1]:
import numpy as np
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append("..")
from utils import *
import warnings
warnings.filterwarnings("ignore")
import os
import psutil

pd.options.display.max_columns=1000
pd.options.display.max_rows=1000

import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score 
from catboost import CatBoostClassifier, Pool

In [2]:
df = pd.read_csv('/home/workspace/DACON/Click_predict/data/train.csv')
test = pd.read_csv('/home/workspace/DACON/Click_predict/data/test.csv')

In [17]:
test = pd.read_csv('/home/workspace/DACON/Click_predict/data/test.csv')

In [4]:
feature_summary(df)

---------------------------- Dataframe Size ----------------------------
num: 28605391
----------------------------   Dtype Size   ----------------------------
Type object : 27
Type float64 : 11
Type int64 : 3

,Feature Name,Data Type,Nunique,NullValue,NullValue Ratio,value_1,value_2,value_3
0,ID,object,28605391,0,0.000000,TRAIN_00000000,TRAIN_00000001,TRAIN_00000002
1,Click,int64,2,0,0.000000,1,0,0
2,F01,object,4760930,1234711,4.316358,NSLHFNS,VGIVWZQ,JCDXFYU
3,F02,object,304404,1234711,4.316358,AVKQTCL,LSUSMVO,PILDDJU
4,F03,object,63,10543986,36.860136,DTZFPRW,PQGWFJZ,IAGJDOH
5,F04,float64,9978,5742331,20.074296,114.0,26.0,119.0
6,F05,object,5343556,1234711,4.316358,ISVXFVA,NFRVLWS,LFPUEOV
7,F06,int64,8562,0,0.000000,1,43,0
8,F07,object,151200,0,0.000000,PQZBVMG,IMPIGJT,FFUTIRZ
9,F08,object,79,0,0.000000,LPYPUNA,MIGYEEG,OFKQGTY
10,F09,object,27551,0,0.000000,IZYJZDA,NGODWIN,BEZTQIO
11,F10,object,1404254,1234711,4.316358,RANQNXO,GBQMJYF,YLKUVQA
12,F11,float64,8000,2955564,10.332192,66.0,137.0,NaN
13,F12,object,4174063,1234711,4.316358,EGWPZEB,OUPRLWN,MGRUYII
14,F13,object,1307,0,0.000000,SMRBWMU,QVLCQTS,KGJACUM
15,F14,int64,526,0,0.000000,4,22,0
16,F15,object,3,10543986,36.860136,NGMRRQG,ZHOLRQX,ZNLREKK
17,F16,object,15467,0,0.000000,NLHSWSR,DGLEHCI,PBCDAMR
18,F17,object,10,0,0.000000,SXZLOWA,ZSBOVQM,TEHYADQ
19,F18,float64,564,7324999,25.607058,NaN,19.0,2.0
20,F19,float64,14,2588853,9.050228,1.0,1.0,0.0
21,F20,object,178602,10543986,36.860136,LTCDFSX,QAOROGG,TGVLSYT
22,F21,object,33,0,0.000000,SWAZXZY,BUUUKVW,FUZMWEL
23,F22,object,7187,0,0.000000,SNDDHSM,SNDDHSM,SNDDHSM
24,F23,object,950,0,0.000000,IDHAIQQ,IDHAIQQ,ZXHXBZQ
25,F24,float64,15229,8994270,31.442570,5.0,21.0,NaN
26,F25,object,10700,0,0.000000,HLADEES,TPNEYOY,YMGUAHK
27,F26,object,2204,10543986,36.860136,XAUNDQW,BUWDIBR,WVRHGBC
28,F27,float64,3820,11063877,38.677594,3.0,32.0,NaN
29,F28,object,55,0,0.000000,MAVCFCM,IYZTLFQ,VNBXRYV
30,F29,float64,196,11063877,38.677594,1.0,2.0,NaN
31,F30,object,19444,0,0.000000,NZGEZLW,NZGEZLW,VHXETCF
32,F31,object,14,0,0.000000,GTISJWW,GTISJWW,KHZNEZF
33,F32,float64,424278,251142,0.877953,380.0,466.0,197.0
34,F33,float64,600,2588853,9.050228,2.0,1.0,0.0
35,F34,object,3165580,1234711,4.316358,AXQFZWC,DRVVDHZ,QMOULXS
36,F35,object,3,0,0.000000,IRUDRFB,IRUDRFB,IRUDRFB
37,F36,float64,1152,7324999,25.607058,NaN,19.0,8.0
38,F37,object,9423,0,0.000000,TFJMLCZ,AUGTURV,ZVSTLNM
39,F38,float64,342,800058,2.796878,0.0,0.0,0.0
40,F39,object,6800,0,0.000000,AURZYDY,LUZRMLU,MHBRSQK

In [5]:
# 19 21 17 29

## F19

In [6]:
max = int(df['F19'].max())
for value in range(max):
    print(f'------ {value} 이상의 샘플의 Click 분포 비교 ------ ')
    counts = df[df['F19']>=value]['Click'].value_counts()
    total_counts = counts.sum()
    ratios = counts / total_counts
    print(ratios)

------ 0 이상의 샘플의 Click 분포 비교 ------
Click
0    0.808229
1    0.191771
Name: count, dtype: float64
------ 1 이상의 샘플의 Click 분포 비교 ------
Click
0    0.716626
1    0.283374
Name: count, dtype: float64
------ 2 이상의 샘플의 Click 분포 비교 ------
Click
0    0.619987
1    0.380013
Name: count, dtype: float64
------ 3 이상의 샘플의 Click 분포 비교 ------
Click
0    0.575496
1    0.424504
Name: count, dtype: float64
------ 4 이상의 샘플의 Click 분포 비교 ------
Click
0    0.559655
1    0.440345
Name: count, dtype: float64
------ 5 이상의 샘플의 Click 분포 비교 ------
Click
0    0.570012
1    0.429988
Name: count, dtype: float64
------ 6 이상의 샘플의 Click 분포 비교 ------
Click
0    0.587451
1    0.412549
Name: count, dtype: float64
------ 7 이상의 샘플의 Click 분포 비교 ------
Click
0    0.587084
1    0.412916
Name: count, dtype: float64
------ 8 이상의 샘플의 Click 분포 비교 ------
Click
0    0.6125
1    0.3875
Name: count, dtype: float64
------ 9 이상의 샘플의 Click 분포 비교 ------
Click
0    0.823529
1    0.176471
Name: count, dtype: float64
------ 10 이상의 샘플의 Click 분포 비교 ------
Click
0    0.833333
1    0.166667
Name: count, dtype: float64
------ 11 이상의 샘플의 Click 분포 비교 ------
Click
0    0.75
1    0.25
Name: count, dtype: float64
------ 12 이상의 샘플의 Click 분포 비교 ------
Click
0    0.5
1    0.5
Name: count, dtype: float64
------ 13 이상의 샘플의 Click 분포 비교 ------
Click
0    1.0
Name: count, dtype: float64
------ 14 이상의 샘플의 Click 분포 비교 ------
Click
0    1.0
Name: count, dtype: float64

## F21

In [15]:
for value in df['F21'].value_counts().index:
    print(f'------ F21열에서 {value}값을 가진 샘플의 Click 비율 ------ ')
    counts = df[df['F21']==value]['Click'].value_counts()
    total_counts = counts.sum()
    ratios = counts / total_counts
    print(f'{value}샘플의 총 샘플 수: {total_counts}')
    print(ratios)

------ F21열에서 BUUUKVW값을 가진 샘플의 Click 비율 ------
BUUUKVW샘플의 총 샘플 수: 9100506
Click
0    0.783496
1    0.216504
Name: count, dtype: float64
------ F21열에서 FUZMWEL값을 가진 샘플의 Click 비율 ------
FUZMWEL샘플의 총 샘플 수: 5573998
Click
0    0.866074
1    0.133926
Name: count, dtype: float64
------ F21열에서 LBABTIR값을 가진 샘플의 Click 비율 ------
LBABTIR샘플의 총 샘플 수: 4652049
Click
0    0.837117
1    0.162883
Name: count, dtype: float64
------ F21열에서 YBGYGNW값을 가진 샘플의 Click 비율 ------
YBGYGNW샘플의 총 샘플 수: 3171864
Click
0    0.807226
1    0.192774
Name: count, dtype: float64
------ F21열에서 SDHLNNQ값을 가진 샘플의 Click 비율 ------
SDHLNNQ샘플의 총 샘플 수: 1379061
Click
0    0.721352
1    0.278648
Name: count, dtype: float64
------ F21열에서 PZZCPEK값을 가진 샘플의 Click 비율 ------
PZZCPEK샘플의 총 샘플 수: 1013712
Click
0    0.755371
1    0.244629
Name: count, dtype: float64
------ F21열에서 SWAZXZY값을 가진 샘플의 Click 비율 ------
SWAZXZY샘플의 총 샘플 수: 892952
Click
0    0.741973
1    0.258027
Name: count, dtype: float64
------ F21열에서 BJAYVHN값을 가진 샘플의 Click 비율 ------
BJAYVHN샘플의 총 샘플 수: 778969
Click
0    0.827061
1    0.172939
Name: count, dtype: float64
------ F21열에서 VUOPKMM값을 가진 샘플의 Click 비율 ------
VUOPKMM샘플의 총 샘플 수: 385375
Click
0    0.837309
1    0.162691
Name: count, dtype: float64
------ F21열에서 PEQEQHK값을 가진 샘플의 Click 비율 ------
PEQEQHK샘플의 총 샘플 수: 322871
Click
0    0.890839
1    0.109161
Name: count, dtype: float64
------ F21열에서 LUBUFOT값을 가진 샘플의 Click 비율 ------
LUBUFOT샘플의 총 샘플 수: 304145
Click
0    0.521212
1    0.478788
Name: count, dtype: float64
------ F21열에서 LFVJNCS값을 가진 샘플의 Click 비율 ------
LFVJNCS샘플의 총 샘플 수: 229105
Click
0    0.730547
1    0.269453
Name: count, dtype: float64
------ F21열에서 JAACVRU값을 가진 샘플의 Click 비율 ------
JAACVRU샘플의 총 샘플 수: 167724
Click
0    0.806861
1    0.193139
Name: count, dtype: float64
------ F21열에서 TRYNBAV값을 가진 샘플의 Click 비율 ------
TRYNBAV샘플의 총 샘플 수: 137215
Click
0    0.797464
1    0.202536
Name: count, dtype: float64
------ F21열에서 SGJCCHC값을 가진 샘플의 Click 비율 ------
SGJCCHC샘플의 총 샘플 수: 134713
Click
0    0.832696
1    0.167304
Name: count, dtype: float64
------ F21열에서 PUFXUQF값을 가진 샘플의 Click 비율 ------
PUFXUQF샘플의 총 샘플 수: 103582
Click
0    0.552123
1    0.447877
Name: count, dtype: float64
------ F21열에서 ZVEFVOC값을 가진 샘플의 Click 비율 ------
ZVEFVOC샘플의 총 샘플 수: 87213
Click
0    0.93697
1    0.06303
Name: count, dtype: float64
------ F21열에서 XAKLHOC값을 가진 샘플의 Click 비율 ------
XAKLHOC샘플의 총 샘플 수: 78089
Click
0    0.727875
1    0.272125
Name: count, dtype: float64
------ F21열에서 YBZVMBV값을 가진 샘플의 Click 비율 ------
YBZVMBV샘플의 총 샘플 수: 22346
Click
0    0.740669
1    0.259331
Name: count, dtype: float64
------ F21열에서 ALYMONU값을 가진 샘플의 Click 비율 ------
ALYMONU샘플의 총 샘플 수: 14631
Click
1    0.552457
0    0.447543
Name: count, dtype: float64
------ F21열에서 NGGVTVX값을 가진 샘플의 Click 비율 ------
NGGVTVX샘플의 총 샘플 수: 14081
Click
0    0.694908
1    0.305092
Name: count, dtype: float64
------ F21열에서 RMXGTJA값을 가진 샘플의 Click 비율 ------
RMXGTJA샘플의 총 샘플 수: 9442
Click
0    0.866342
1    0.133658
Name: count, dtype: float64
------ F21열에서 UWNYTQS값을 가진 샘플의 Click 비율 ------
UWNYTQS샘플의 총 샘플 수: 7460
Click
0    0.822252
1    0.177748
Name: count, dtype: float64
------ F21열에서 XVFRSNN값을 가진 샘플의 Click 비율 ------
XVFRSNN샘플의 총 샘플 수: 6712
Click
0    0.803635
1    0.196365
Name: count, dtype: float64
------ F21열에서 CKQINSZ값을 가진 샘플의 Click 비율 ------
CKQINSZ샘플의 총 샘플 수: 6054
Click
0    0.945656
1    0.054344
Name: count, dtype: float64
------ F21열에서 QVGTPRC값을 가진 샘플의 Click 비율 ------
QVGTPRC샘플의 총 샘플 수: 2700
Click
0    0.789259
1    0.210741
Name: count, dtype: float64
------ F21열에서 DKCXNLV값을 가진 샘플의 Click 비율 ------
DKCXNLV샘플의 총 샘플 수: 2629
Click
0    0.708634
1    0.291366
Name: count, dtype: float64
------ F21열에서 FKSQPPZ값을 가진 샘플의 Click 비율 ------
FKSQPPZ샘플의 총 샘플 수: 2597
Click
0    0.742395
1    0.257605
Name: count, dtype: float64
------ F21열에서 VPMNKNH값을 가진 샘플의 Click 비율 ------
VPMNKNH샘플의 총 샘플 수: 1107
Click
0    0.768744
1    0.231256
Name: count, dtype: float64
------ F21열에서 CPGBNFH값을 가진 샘플의 Click 비율 ------
CPGBNFH샘플의 총 샘플 수: 890
Click
0    0.540449
1    0.459551
Name: count, dtype: float64
------ F21열에서 VFLLXCD값을 가진 샘플의 Click 비율 ------
VFLLXCD샘플의 총 샘플 수: 656
Click
0    0.810976
1    0.189024
Name: count, dtype: float64
------ F21열에서 HGXLKRN값을 가진 샘플의 Click 비율 ------
HGXLKRN샘플의 총 샘플 수: 476
Click
0    0.892857
1    0.107143
Name: count, dtype: float64
------ F21열에서 MYBJXSZ값을 가진 샘플의 Click 비율 ------
MYBJXSZ샘플의 총 샘플 수: 467
Click
0    0.815846
1    0.184154
Name: count, dtype: float64

In [11]:
# 28605391(total) - 2588853 (null)
# 26,016,538 
df['F19'].value_counts()

F19
0.0     18619443
1.0      6185750
2.0       967020
3.0       189820
4.0        42607
5.0         9348
6.0         2039
7.0          431
8.0           63
9.0           11
11.0           2
10.0           2
15.0           1
12.0           1
Name: count, dtype: int64

## F17

In [16]:
for value in df['F17'].value_counts().index:
    print(f'------ F17열에서 {value}값을 가진 샘플의 Click 비율 ------ ')
    counts = df[df['F17']==value]['Click'].value_counts()
    total_counts = counts.sum()
    ratios = counts / total_counts
    print(f'{value}샘플의 총 샘플 수: {total_counts}')
    print(ratios)

------ F17열에서 ORHLUGM값을 가진 샘플의 Click 비율 ------
ORHLUGM샘플의 총 샘플 수: 11421403
Click
0    0.760374
1    0.239626
Name: count, dtype: float64
------ F17열에서 SXZLOWA값을 가진 샘플의 Click 비율 ------
SXZLOWA샘플의 총 샘플 수: 3951843
Click
0    0.82731
1    0.17269
Name: count, dtype: float64
------ F17열에서 TEHYADQ값을 가진 샘플의 Click 비율 ------
TEHYADQ샘플의 총 샘플 수: 3522486
Click
0    0.852334
1    0.147666
Name: count, dtype: float64
------ F17열에서 QANMWXR값을 가진 샘플의 Click 비율 ------
QANMWXR샘플의 총 샘플 수: 2700266
Click
0    0.820585
1    0.179415
Name: count, dtype: float64
------ F17열에서 ZSBOVQM값을 가진 샘플의 Click 비율 ------
ZSBOVQM샘플의 총 샘플 수: 1888355
Click
0    0.750473
1    0.249527
Name: count, dtype: float64
------ F17열에서 FMJARXS값을 가진 샘플의 Click 비율 ------
FMJARXS샘플의 총 샘플 수: 1679877
Click
0    0.800393
1    0.199607
Name: count, dtype: float64
------ F17열에서 QABXFTY값을 가진 샘플의 Click 비율 ------
QABXFTY샘플의 총 샘플 수: 1626058
Click
0    0.912769
1    0.087231
Name: count, dtype: float64
------ F17열에서 NYMAFBG값을 가진 샘플의 Click 비율 ------
NYMAFBG샘플의 총 샘플 수: 1563887
Click
0    0.888431
1    0.111569
Name: count, dtype: float64
------ F17열에서 XMWALFY값을 가진 샘플의 Click 비율 ------
XMWALFY샘플의 총 샘플 수: 251142
Click
0    0.90806
1    0.09194
Name: count, dtype: float64
------ F17열에서 KWQYBBJ값을 가진 샘플의 Click 비율 ------
KWQYBBJ샘플의 총 샘플 수: 74
Click
0    0.959459
1    0.040541
Name: count, dtype: float64

In [21]:
df['F17'].value_counts().index

Index(['ORHLUGM', 'SXZLOWA', 'TEHYADQ', 'QANMWXR', 'ZSBOVQM', 'FMJARXS',
       'QABXFTY', 'NYMAFBG', 'XMWALFY', 'KWQYBBJ'],
      dtype='object', name='F17')

In [18]:
test['F17'].value_counts()

F17
ORHLUGM    1788184
SXZLOWA     626161
TEHYADQ     558546
QANMWXR     432853
ZSBOVQM     305183
FMJARXS     271059
QABXFTY     259650
NYMAFBG     245350
XMWALFY      51542
KWQYBBJ         13
Name: count, dtype: int64

In [ ]:
for value in df['F17'].value_counts().index:
    print(f'------ F17열에서 {value}값을 가진 샘플의 Click 비율 ------ ')
    counts = test[test['F17']==value]['Click'].value_counts()
    total_counts = counts.sum()
    ratios = counts / total_counts
    print(f'{value}샘플의 총 샘플 수: {total_counts}')
    print(ratios)