In [1]:
import pandas as pd
pd.set_option('display.max_columns', 42)

def feature_summary(df):
    temp = 'Dataframe Size'
    print(f'----------------------------{temp:^16}----------------------------')
    print(f'num: {len(df)}')

    temp = 'Dtype Size'
    type_idx = df.dtypes.value_counts().index
    type_num = df.dtypes.value_counts().values
    print(f'----------------------------{temp:^16}----------------------------')
    for type, num in (zip(type_idx, type_num)):
        print(f'Type {type} : {num}')
    feature_summary = pd.DataFrame(df.dtypes, columns=["Data Type"]) # dtype
    feature_summary.reset_index(inplace=True)
    feature_summary.rename(columns={'index': 'Feature Name'}, inplace=True) 
    feature_summary['Nunique'] = df.nunique().values 
    feature_summary['NullValue'] = df.isnull().sum().values
    feature_summary['NullValue Ratio'] = (df.isnull().sum().values / len(df))*100
    feature_summary['value_1'] = df.loc[0].values
    feature_summary['value_2'] = df.loc[1].values
    feature_summary['value_3'] = df.loc[2].values
    return feature_summary

In [2]:
df = pd.read_csv('/home/workspace/DACON/Click_predict/data/train.csv')

In [10]:
feature_summary(df)

---------------------------- Dataframe Size ----------------------------
num: 28605391
----------------------------   Dtype Size   ----------------------------
Type object : 27
Type float64 : 11
Type int64 : 3

,Feature Name,Data Type,Nunique,NullValue,NullValue Ratio,value_1,value_2,value_3
0,ID,object,28605391,0,0.000000,TRAIN_00000000,TRAIN_00000001,TRAIN_00000002
1,Click,int64,2,0,0.000000,1,0,0
2,F01,object,4760930,1234711,4.316358,NSLHFNS,VGIVWZQ,JCDXFYU
3,F02,object,304404,1234711,4.316358,AVKQTCL,LSUSMVO,PILDDJU
4,F03,object,63,10543986,36.860136,DTZFPRW,PQGWFJZ,IAGJDOH
5,F04,float64,9978,5742331,20.074296,114.0,26.0,119.0
6,F05,object,5343556,1234711,4.316358,ISVXFVA,NFRVLWS,LFPUEOV
7,F06,int64,8562,0,0.000000,1,43,0
8,F07,object,151200,0,0.000000,PQZBVMG,IMPIGJT,FFUTIRZ
9,F08,object,79,0,0.000000,LPYPUNA,MIGYEEG,OFKQGTY
10,F09,object,27551,0,0.000000,IZYJZDA,NGODWIN,BEZTQIO
11,F10,object,1404254,1234711,4.316358,RANQNXO,GBQMJYF,YLKUVQA
12,F11,float64,8000,2955564,10.332192,66.0,137.0,NaN
13,F12,object,4174063,1234711,4.316358,EGWPZEB,OUPRLWN,MGRUYII
14,F13,object,1307,0,0.000000,SMRBWMU,QVLCQTS,KGJACUM
15,F14,int64,526,0,0.000000,4,22,0
16,F15,object,3,10543986,36.860136,NGMRRQG,ZHOLRQX,ZNLREKK
17,F16,object,15467,0,0.000000,NLHSWSR,DGLEHCI,PBCDAMR
18,F17,object,10,0,0.000000,SXZLOWA,ZSBOVQM,TEHYADQ
19,F18,float64,564,7324999,25.607058,NaN,19.0,2.0
20,F19,float64,14,2588853,9.050228,1.0,1.0,0.0
21,F20,object,178602,10543986,36.860136,LTCDFSX,QAOROGG,TGVLSYT
22,F21,object,33,0,0.000000,SWAZXZY,BUUUKVW,FUZMWEL
23,F22,object,7187,0,0.000000,SNDDHSM,SNDDHSM,SNDDHSM
24,F23,object,950,0,0.000000,IDHAIQQ,IDHAIQQ,ZXHXBZQ
25,F24,float64,15229,8994270,31.442570,5.0,21.0,NaN
26,F25,object,10700,0,0.000000,HLADEES,TPNEYOY,YMGUAHK
27,F26,object,2204,10543986,36.860136,XAUNDQW,BUWDIBR,WVRHGBC
28,F27,float64,3820,11063877,38.677594,3.0,32.0,NaN
29,F28,object,55,0,0.000000,MAVCFCM,IYZTLFQ,VNBXRYV
30,F29,float64,196,11063877,38.677594,1.0,2.0,NaN
31,F30,object,19444,0,0.000000,NZGEZLW,NZGEZLW,VHXETCF
32,F31,object,14,0,0.000000,GTISJWW,GTISJWW,KHZNEZF
33,F32,float64,424278,251142,0.877953,380.0,466.0,197.0
34,F33,float64,600,2588853,9.050228,2.0,1.0,0.0
35,F34,object,3165580,1234711,4.316358,AXQFZWC,DRVVDHZ,QMOULXS
36,F35,object,3,0,0.000000,IRUDRFB,IRUDRFB,IRUDRFB
37,F36,float64,1152,7324999,25.607058,NaN,19.0,8.0
38,F37,object,9423,0,0.000000,TFJMLCZ,AUGTURV,ZVSTLNM
39,F38,float64,342,800058,2.796878,0.0,0.0,0.0
40,F39,object,6800,0,0.000000,AURZYDY,LUZRMLU,MHBRSQK

In [18]:
import pandas as pd
kki = pd.read_csv('/home/workspace/DACON/soccer/Data/train.csv')
t = kki['homeTeam'].value_counts()
t['Fulham']

318

In [3]:
duplicates = df.duplicated()
print("중복된 행 확인:\n", duplicates)

중복된 행 확인:
 0           False
1           False
2           False
3           False
4           False
            ...
28605386    False
28605387    False
28605388    False
28605389    False
28605390    False
Length: 28605391, dtype: bool

In [5]:
duplicates.sum()

0